@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=DM+Serif+Display&family=Fredoka&family=Graduate&display=swap");

body {
	margin: 1rem;
	border: 0.1rem solid #91a3b0; /* For Reference */
	font-family: "Fredoka", "Lucida Sans", "Lucida Sans Regular",
		"Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
	padding: 2rem;
}

header h1 {
	font-family: "Graduate", Geneva, Tahoma, sans-serif;
	padding: 0;
	margin: 0 0 0 0.2rem;
	font-weight: bolder;
	border-bottom: 0.1rem solid #0070bb;
}

header h3 {
	font-family: "Graduate", Geneva, Tahoma, sans-serif;
	padding: 0;
	margin: 0.2rem;
	color: #0070bb;
}

.basicinfo {
	margin: 0.2rem 0 0 0;
	padding: 0;
	color: #6699cc;
	list-style-type: none;
}

.basicinfo li i {
	box-sizing: border-box;
	color: #36454f;
	width: 1.1rem;
	padding: 0.1rem;
	margin: 0 0.5rem 0 0.2rem;
	display: inline-flex;
	justify-content: center;
}

.basicinfo a:is(:link, :visited, :hover, :active) {
	text-decoration: none;
	color: unset;
}

.socials {
	list-style-type: none;
	margin: 0.5 0 0 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.socials li {
	box-shadow: 0.1rem 0.1rem 0.5rem #333;
	box-sizing: border-box;
	display: flex;
	width: 3rem;
	height: 3rem;
}

.socials li a {
	text-decoration: none;
	color: black;
	width: 100%;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.socials li a i {
	scale: 1.5;
}

/* MAKING HEADER RESPONSIVE */
@media screen and (max-width: 25rem) {
	.socials {
		display: grid;
		gap: 0.5rem;
		justify-items: center;
		padding-top: 1rem;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.socials li {
		height: 4rem;
		width: 4rem;
	}
	header {
		padding-bottom: 0;
	}
}
@media screen and (min-width: 25rem) {
	.socials {
		padding-top: 1rem;
	}
	header {
		padding-bottom: 0rem;
	}
}
@media screen and (min-width: 38rem) {
	.socials li {
		width: 4rem;
		height: 4rem;
		font-size: 1.2em;
	}
	.socials img {
		scale: 1.1;
	}
	.socials {
		padding-top: 1rem;
	}
	header {
		padding-bottom: 0;
	}
}
@media screen and (min-width: 50rem) {
	header h1 {
		grid-area: title;
		font-size: 3.5em;
	}
	header h3 {
		grid-area: intro;
		font-size: 1.5em;
	}
	header .basicinfo {
		grid-area: basics;
		font-size: 1.2em;
	}
	header .socials {
		flex-wrap: wrap;
		gap: 1.5rem;
		height: 12rem;
		justify-content: center;
		grid-area: socials;
	}
	.socials li {
		width: 5rem;
		height: 5rem;
	}
	.socials li i {
		font-size: 1.5em;
	}
	.socials li img {
		scale: 1.5;
	}
	header {
		display: grid;
		grid-template-columns: 1fr 300px;
		grid-template-areas:
			"title socials"
			"intro socials"
			"basics socials";
	}
}
@media screen and (min-width: 63rem) {
	body {
		width: 60.9rem;
		margin: 1rem auto;
	}
}

/* Socials transitions */
.socials li a {
	background-size: 100% 200%;
	background-position: 0% 5%;
	transition: 0.2s ease-in;
}
.socials li:nth-child(1) a {
	background-image: linear-gradient(white 50%, #333 50%);
	color: #333;
}

.socials li:nth-child(2) a {
	background-image: linear-gradient(white 50%, #0077b5 50%);
	color: #0077b5;
}

.socials li:nth-child(3) a {
	background-image: linear-gradient(white 50%, #e1306c 50%);
	color: #e1306c;
}

.socials li:nth-child(4) a {
	background-image: linear-gradient(white 50%, #068932 50%);
	color: #068932;
}

.socials li:nth-child(5) a {
	background-image: linear-gradient(white 50%, #ffa116 50%);
}

.socials li:nth-child(6) a {
	background-image: linear-gradient(white 50%, #ebe2ce 50%);
}

.socials li a:is(:hover, :active) {
	background-position: 0% 100%;
	color: white;
}

/* Main Skills */
main {
	padding: 2rem;
	margin: 0;
}

main * {
	margin: 0;
}

main article :is(h2, hr) {
	color: #91a3b0;
}
